@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
  header, h1, h2 {
    font-family: Raleway;
  }
  a {
    color: #C9B1BD;
  }
}
